[submodule "Projects/RPS-Game-iOS"]
	path = Projects/RPS-Game-iOS
	url = git@github.com:andyanappdev/RPS-Game-iOS.git
[submodule "Projects/Juice-Maker-iOS"]
	path = Projects/Juice-Maker-iOS
	url = git@github.com:andyanappdev/Juice-Maker-iOS.git
[submodule "Projects/Contact-Manager-iOS"]
	path = Projects/Contact-Manager-iOS
	url = git@github.com:andyanappdev/Contact-Manager-iOS.git
[submodule "Projects/Bank-Manager-iOS"]
	path = Projects/Bank-Manager-iOS
	url = git@github.com:andyanappdev/Bank-Manager-iOS.git
[submodule "Projects/Movie-Box-Office-iOS"]
	path = Projects/Movie-Box-Office-iOS
	url = git@github.com:andyanappdev/Movie-Box-Office-iOS.git
